{% extends 'base.html' %}
{% block content %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">
                                                <!-- start dash info -->
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <div class="card  dash-header-box shadow-none border-0" >
                                                            <div class="card-body p-0" style="background-color: blueviolet;border-radius: 8px;" >
                                                                <div class="row row-cols-xxl-6 row-cols-md-3 row-cols-1 g-0">
                                                                    <div class="col">
                                                                        <div class="mt-md-0 py-3 px-4 mx-2">
                                                                            <p class="text-white-50 mb-2 text-truncate">Quiz </p>
                                                                            <h6 class="text-white mb-0">{{answer.quiz.name|safe}}</h6>
                                                                        </div>
                                                                    </div><!-- end col -->
                                                                    <div class="col">
                                                                        <div class="mt-md-0 py-3 px-4 mx-2">
                                                                            <p class="text-white-50 mb-2 text-truncate">Savollar soni </p>
                                                                            <h3 class="text-white mb-0">{{total}}</h3>
                                                                        </div>
                                                                    </div><!-- end col -->
                        
                                                                    <div class="col">
                                                                        <div class="mt-3 mt-md-0 py-3 px-4 mx-2">
                                                                            <p class="text-white-50 mb-2 text-truncate">To'g'ri javoblar</p>
                                                                            <h3 class="text-white mb-0">{{correct}}</h3>
                                                                        </div>
                                                                    </div><!-- end col -->
                                                                    <div class="col">
                                                                        <div class="mt-3 mt-md-0 py-3 px-4 mx-2">
                                                                            <p class="text-white-50 mb-2 text-truncate">Noto'g'ri javoblar</p>
                                                                            <h3 class="text-white mb-0">{{wrong}}</h3>
                                                                        </div>
                                                                    </div><!-- end col -->
                                                                    <div class="col">
                                                                        <div class="mt-3 mt-md-0 py-3 px-4 mx-2">
                                                                            <p class="text-white-50 mb-2 text-truncate">To'g'ri javoblar foizi</p>
                                                                            <h3 class="text-white mb-0">{{correct_percentage}}%</h3>
                                                                        </div>
                                                                    </div><!-- end col -->
                        
                                                                    <div class="col">
                                                                        <div class="mt-3 mt-md-0 py-3 px-4 mx-2">
                                                                            <p class="text-white-50 mb-2 text-truncate">Noto'g'ri javoblar foizi</p>
                                                                            <h3 class="text-white mb-0">{{wrong_percentage}}%</h3>
                                                                        </div>
                                                                    </div><!-- end col -->
                        
                                                                
                        
                                                            
                        
                                                                </div><!-- end row -->
                                                            </div><!-- end card body -->
                                                        </div><!-- end card -->
                                                    </div><!-- end col -->
                                                </div>
                                                
                                                <!-- end dash info -->
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-lg-8">
                                <div class="card ">
                                    <div class="card-body">
                                        
                                        
                                       
                                        
                                        <div class="mb-3">
                                            <label for="username" class="form-label">Username</label>
                                            <input disabled id="username" type="text" name="username" value="{{answer.username}}" class="form-control">
                                        </div>
                                        <div class="mb-3">
                                            <label for="phone" class="form-label">Telefon raqam</label>
                                            <input id="phone" type="text" name="phone" class="form-control" value="{{answer.phone}}" disabled placeholder="Telefon raqamingizni kiriting">
                                        </div>
                                        <div class="mb-3">
                                            <label for="email" class="form-label">Email</label>
                                            <input id="email" type="email" name="email" class="form-control" disabled value="{{answer.email}}" placeholder="Emailni kiritng">
                                        </div>

                                        <div class="row">
                                            <h2 class="card-title mb-4" >Savollar</h2>
                                            {% for answer in queryset %}
                                            <div class="text-muted" style="margin:2px 18px;">

                                                <h4 style="border-top: 5px solid #3326e7;border-radius: 5px;padding: 15px;margin-top: 25px; background-color: rgb(234, 234, 234);">{{forloop.counter}}. {{answer.question.name|safe}}</h4>
                                                <ul class="ps-3">
                                                    {% if answer.is_correct  %}
                                                    <div class="radio" style="margin:20px 5px ; border-left: 4px solid rgb(13, 228, 13); border-radius: 5px;padding-left: 10px;">
                                                        
                                                        <li    style="font-size: 20px; margin:0 30px; width: 200px;">{{answer.user_answer}} 
                                                            <span style="margin-left: 30px;" class="badge badge-soft-success mb-0">To'g'ri</span></li>
                                                    </div>
                                                    {% else %}
                                                    <div class="radio" style="margin:20px 5px ; border-left: 4px solid rgb(228, 13, 13); border-radius: 5px;padding-left: 10px;">
                                                        
                                                        <li    style="font-size: 20px; margin:0 30px; width: 200px;">{{answer.user_answer}} 
                                                            <span style="margin-left: 30px;" class="badge badge-soft-danger mb-0">Xato</span>
                                                        </li>
                                                    </div>
                                                    
                                                    {% endif %}
                                                </ul>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <br>
                                        <br>
                                        {% if user.username %}
                                        <a type="button" href="{% url 'answer_list' answer.quiz.code %}" class="btn btn-primary">Ortga</a>
                                        {% endif %}
                                    </div><!-- end card body -->
                                </div><!-- end card -->
                            </div>
                        </div><!-- end row --> 
                    </div> <!-- container-fluid -->
                </div><!-- End Page-content -->
                
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> &copy; Vuesy.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                    Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- end main content-->
{% endblock %}