{% extends 'base.html' %}
{% block content %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-lg-8">
                                <div class="card ">
                                    <div class="card-body">
                                        <h2 class="card-title mb-4" >Savol haqida batafsil va variantlari</h2>

                                        <div class="text-muted">
                                            <h4 style="border-top: 5px solid #3326e7;border-radius: 5px;padding: 8px;">Savol : {{question.name|safe}}</h4>
                                            <ul class="ps-3">
                                                {% for i in options %}
                                                <div style="margin:10px 5px ; border-left: 4px solid rgb(13, 228, 13); border-radius: 5px;"><li class="py-1" style="font-size: 20px; margin:0 30px;">{{i.name}} <span style="margin-left: 30px;" class="badge badge-soft-success mb-0">{{i.is_correct}}</span></li></div>
                                                 {% endfor %}
                                            </ul>
                                        </div>
                                        <a href="{% url 'quiz_detail' question.quiz.code %}" class="btn btn-primary">Savollarga qaytish</a>
                                    </div><!-- end card body -->
                                </div><!-- end card -->
                            </div>
                        </div><!-- end row --> 
                    </div> <!-- container-fluid -->
                </div><!-- End Page-content -->
                
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> &copy; Vuesy.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                    Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- end main content-->
{% endblock %}