{% extends 'base.html' %}
{% block content %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div>
                                           
                                            <!-- wizard-nav -->

                                            <div class="">
                                                <div class="text-center mb-4">
                                                    <h5>Savol yaratish</h5>
                                                </div>
                                                <form method="post">{% csrf_token %}
                                                    <div>
                                                        <div class="mb-3">
                                                            <label>Quizlar</label>
                                                            <select name="id" class="form-select shadow">
                                                                {% for q in quizzes %}
                                                                {% if q.id == question.quiz.id %}
                                                                <option value="{{q.id}}" selected>{{q.name}}</option>
                                                                {% else %}
                                                                <option value="{{q.id}}">{{q.name}}</option>
                                                                {% endif %}
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="projectdesc" class="form-label"></label>
                                                            <textarea class="form-control" id="projectdesc" rows="3" name="name"  placeholder="Savolni kiritn">{{question.name}}</textarea>
                                                        </div>
                                                        {% for option in options %}
                                                        {% if option.is_correct %}
                                                        <div class="mb-3">
                                                            <label for="projectname" class="form-label">Tog'ri javob</label>
                                                            <input id="projectname" type="text" value="{{option.name}}" name="correct_option" class="form-control" placeholder="Tog'ri javobni kiriting">
                                                        </div>
                                                        <label for="inputField1" class="form-label">Javoblar</label>
                                                        {% else %}
                                                        
                                                        <div class="mb-3" id="inputFieldsContainer">
                                                            
                                                            <br>
                                                            
                                                            <input id="inputField1" type="text" value="{{option.name}}" name="options" class="form-control" placeholder="Variant kiriting">
                                                        </div>
                                                        
                                                        {% endif %}
                                                        {% endfor %}
                                                        <button type="button" class="btn btn-info" id="addButton">Variant qo'shish</button><br><br>
                                                        <script>
                                                            // Sayfa yüklendiğinde hazırda bir giriş alanı olduğunu varsayalım
                                                            let fieldIndex = 1;
                                                        
                                                            document.getElementById('addButton').addEventListener('click', function() {
                                                                // Yeni bir giriş alanı oluştur
                                                                const newInputField = document.createElement('input');
                                                                newInputField.type = 'text';
                                                                newInputField.name = 'new_options';
                                                                newInputField.className = 'form-control mt-2';
                                                                newInputField.placeholder = 'Variant kiriting';
                                                                
                                                                // Yeni giriş alanını sayfaya ekle
                                                                document.getElementById('inputFieldsContainer').appendChild(newInputField);
                                                                
                                                                // Yeni giriş alanının id'sini güncelle
                                                                fieldIndex++;
                                                                newInputField.id = 'inputField' + fieldIndex;
                                                            });
                                                        </script>
                                                        
                                                    </div>
                                                    <div class="d-flex align-items-start gap-3 mt-4">
                                                        <button type="submit" class="btn btn-primary w-sm"  >Saqlash</button>
                                                       </div>
                                                </form>
                                            </div>
                                          
                                            
                                            <!-- wizard-tab -->

                     
                                        

                                            
                                        </div>
                                    </div><!-- end card body -->
                                </div><!-- end card -->
                            </div><!-- end col -->
                        </div><!-- end row --> 
                    </div> <!-- container-fluid -->
                </div><!-- End Page-content -->
                
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> &copy; Vuesy.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                    Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- end main content-->
{% endblock %}