{% extends 'base.html' %}
{% block content %}
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-lg-8">
                                <div class="card ">
                                    <div class="card-body">
                                        <form method="post" onsubmit="openModal()" id="myForm">{% csrf_token %}
                                        
                                        
                                        <div class="mb-3">
                                            <label for="username" class="form-label">Username</label>
                                            <input id="username" type="text" name="username" class="form-control" placeholder="ismingizni kiritng">
                                        </div>
                                        <div class="mb-3">
                                            <label for="phone" class="form-label">Telefon raqam</label>
                                            <input id="phone" type="text" name="phone" class="form-control" placeholder="Telefon raqamingizni kiriting">
                                        </div>
                                        <div class="mb-3">
                                            <label for="email" class="form-label">Email</label>
                                            <input id="email" type="email" name="email" class="form-control" placeholder="Emailni kiritng">
                                        </div>

                                        <div class="row">
                                            <h2 class="card-title mb-4" >Savollar</h2>
                                            {% for question in questions %}
                                            <div class="text-muted" style="margin:2px 18px;">

                                                <h4 style="border-top: 5px solid #3326e7;border-radius: 5px;padding: 15px;margin-top: 25px; background-color: rgb(234, 234, 234);">{{forloop.counter}}. {{question.name|safe}}</h4>
                                                <ul class="ps-3">
                                                    {% for i in question.options %}
                                                    <div class="radio" style="margin:20px 5px ; border-left: 4px solid rgb(13, 228, 13); border-radius: 5px;padding-left: 10px;">
                                                        <input type="radio" name="{{question.id}}" id="radio{{i.id}}" value="{{i.id}}">
                                                        <label  for="radio{{i.id}}" style="font-size: 20px; margin:0 30px; width: 200px;">{{i.name}} 
                                                        </label>
                                                    </div>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <br>
                                        <br>
                                        <button type="submit" class="btn btn-primary qabul">yuborish</button>
                                        
                                        </form>
                                       
                                       
                                        
                                    </div><!-- end card body -->
                                </div><!-- end card -->
                            </div>
                        </div><!-- end row --> 
                    </div> <!-- container-fluid -->
                </div><!-- End Page-content -->
                
                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <script>document.write(new Date().getFullYear())</script> &copy; Vuesy.
                            </div>
                            <div class="col-sm-6">
                                <div class="text-sm-end d-none d-sm-block">
                                    Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesdesign
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- end main content-->
{% endblock %}